.title-text {
    padding: 50px 50px;
    position: relative;
    text-align: center;
    color: white;
    font-weight: bold;
}

.title-desc {
    position: relative;
    text-align: center;
    justify-content: center;
    color: white;
    font-size: 15px;
}

.title-box {
    border: 2px solid #000000c9;
}


/*PC brower*/

@media only screen and (min-width:576px) {
    .title-text {
        font-size: 65px;
    }

}


/*Mobile brower*/

@media only screen and (max-width: 575px) {
    .title-text {
        font-size: 35px;
    }


}