.linkedin-box {
    padding: 20px;
    justify-content: center;
    display: flex;

}

.aboutBox {
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
    width: 75%;
    margin: 0 auto;
    border: white 5px solid;
    padding: 20px;
    border-radius: 20px;
}